:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #ffffff;
}
a{
    text-decoration: none;
}
/* ul{
    list-style: none;
} */

.wrapper{
    background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
}

.wrapper-inner{
    background: var(--primary-color);
}
.menu-wrap{
position: fixed;
top: 0;
left: 0; 
 z-index: 1;
}
.menu-wrap .toggler{
    /* position: ; */
position: absolute;
top: 0;
left: 0;
z-index: 2;
opacity: 0;
cursor: pointer;
width: 50px;
height: 50px;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
width: 60px;
height: 60px;
background: var(--primary-color);
padding: 1rem;
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
}

.menu-wrap .hamburger > div{
   
position: relative;
flex: none;

width: 100%;
height: 2px;
background: white;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.4s ease;
}
.menu-wrap .hamburger > div::after,
.menu-wrap .hamburger > div::before{
content: '';
position: absolute;
z-index: 1;
top: -10px;
left: 0;
width: 100%;
height: 2px;
background:inherit;
align-items: center;
justify-content: center;
}
.menu-wrap .hamburger > div::after{
    top:10px;
}
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::after,
.menu-wrap .toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
opacity: 1;
transition:  opacity 0.4s ease 0.4s;
}
.menu-wrap .menu > div{
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
.menu-wrap .menu > div > div{
text-align: center;
width: 90vw;
height: 100vh;
opacity: 0;
display: flex;
align-items: center;
justify-content: center;
transition: opacity 4s ease;
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
     width: 100%;
    display: flex;
    /* flex-direction: column; */
    overflow: hidden;
    /* text-align: center; */
    justify-content: center; 
    align-items: center;
    visibility: hidden;
}






.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li a{
    text-decoration: none;
    color: inherit;
    transition: color 0.4s ease;
}




.showcase{
    height: 100vh;
    /* position: absolute;
    top: 0;
    left: 0; */
    position: relative;
}
.showcase h1{
    font-size: 4rem;
}
.showcase p{
    font-size: 1.3rem;
}
.container{
overflow: hidden;
}
.showcase-inner{
    width: 960px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.showcase a{
    color: white;
    background: var(--primary-color);
    padding: 0.75rem 1.5rem;
    text-decoration: none;
}